<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        Puntapie
      </div>
      <!-- Logo -->

      <div class="card">
        <div class="card-body">
          <p>
            La página que buscas, no existe.
          </p>
        </div>
      </div>
      <!-- Card -->
    </div>
  </body>
</html>
